*{
    font-family: "Inter";
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  
    /* mesmo fundo que você usou na .Main */
    background-image:
      radial-gradient(circle at 50% -10%, #916e22 0%, transparent 50%),
      radial-gradient(circle at 50% -50%, #b5ada6 0%, transparent 50%),
      radial-gradient(circle at 50% -50%, #f50303 25%, transparent 70%),
      radial-gradient(circle at 80% 60%, black 0%),
      radial-gradient(circle at center, black 70%, transparent 100%);
    
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* <- ESSENCIAL pra manter coerência ao scrollar */
    color: white;
  }

.MainText{
    opacity: 80%;
    font-size: 60px;
    font-weight: 800;
    color: transparent;
    background: linear-gradient(160deg, #f7c2c2,#f7d4d4,
    #f7c9c9, #fed8d8);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 200%;
    animation: gradienteAnim 15s linear infinite;
}
@keyframes gradienteAnim {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}

.MainText_Container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.container-text{
    width: 100%;
    display: flex;
    color: white;
    padding: 10px;
    font-size: 30px;
    justify-content: center;
}

.container-inside-text {
    display: flex;
    gap: 300px;
    justify-content: center;
  }

.Containers{
    display: flex;
    gap: 150px;
}
.box1{
    font-weight: 200;
    color: white;
    text-wrap: wrap;
    margin-left: 10px;
    padding: 10px;
    border: solid 1px white;
    width: 400px;
    display: flex;
    height: fit-content;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.2); 
}


.box-1-text{
    min-width: 0;                 
    white-space: normal;
    overflow-wrap: break-word;
}

.btn-container{
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    display: flex;
}

.scroll-btn{
    font-weight: 200 ;
    background:transparent;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 34, 0, 0.5);
    margin: 20px;
}
.scroll-btn:hover {
    background-color: rgba(255, 34, 0, 0.269) ;
    transform: scale(1.05);
  }


.login-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

/* SEÇÃO DE LOGIN */
.login-box {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white;
}

.login-box input {
  box-shadow: 0 0 05px rgba(255, 34, 0, 0.5);
  width: 400px;
  padding: 10px;
  height: 40px;
  border: 0;
  border-radius: 30px;
  background: rgba(0,0,0,0.3);
  color: white;
  outline: none;
  
}
.login-box input::placeholder {
  text-align: center;
  color: #feceb9;
}

.login-btn {
    font-weight: 200 ;
    background:transparent;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 34, 0, 0.5);
    margin: 20px;
}

.login-btn:hover {
    background-color: rgba(255, 34, 0, 0.269) ;
  transform: scale(1.05);
}

/* Rolagem suave no site */
html {
  scroll-behavior: smooth;
}

.login-title{
    font-size: 50px;
}